@model FeastFreedom.Models.User

@{
    ViewBag.Title = "Login";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container" style="font-size:13px">

    <form class="form-horizontal" action=" " method="post" style="padding-left:100px; margin-top:10%">
        <fieldset>

            <!-- Form Name -->
            <center><h2 style="padding-top: 25px">Login</h2></center>
            <center>@ViewBag.error</center><br>

            <!-- Text input-->

            <div class="form-group row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-user"></span></span>
                        </div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeHolder = "First Name", @style = "font-size:13px" } })
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <!-- Text input-->

            <div class="form-group row">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-user"></span></span>
                        </div>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeHolder = "Last Name", @style = "font-size:13px" } })
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <!-- Button -->

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Login" class="btn btn-dark" style="float:right" />
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Create Account", "Create", "Users", new { @class = "btn btn-dark" })
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:7px; height:7px; position:relative; bottom:10px; left:90%; opacity:0.7">
    <img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:10px; height:10px; position:relative; bottom:50px; left:91%; opacity:0.8">
    <img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:20px; height:20px; position:relative; bottom:80px; left:92.5%; opacity:0.9">
    <img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:30px; height:30px; position:relative; bottom:120px; left:95%">
</div>
</html>

