@model FeastFreedom.Models.Kitchen

@{
    ViewBag.Title = "Create";
}

<title>@ViewBag.Title</title>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="container" style="font-size:13px">

    <form class="form-horizontal" action=" " method="post" style="padding-left:100px; margin-top:9%">
        @Html.AntiForgeryToken()
        <fieldset>

            <!-- Form Name -->
            <center><h2 style="padding-top: 25px">Register Kitchen</h2></center><br>

            <!-- Text input-->

            <div class="form-group row">
                @Html.LabelFor(model => model.KitchenName, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-users"></span></span>
                        </div>
                        @Html.EditorFor(model => model.KitchenName, new { htmlAttributes = new { @class = "form-control", placeHolder = "Kitchen Name", @style = "font-size:13px" } })
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.KitchenName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.WorkingDays, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-list-ul"></span></span>
                        </div>
                        <select id="selectedDays" name="selectedDays" class="daySelect form-control" multiple style="font-size:13px">
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                            <option>Sunday</option>
                        </select>
                    </div>
                    @Html.ValidationMessageFor(model => model.selectedDays, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                        <div class="input-group-prepend" data-target="#datetimepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                        </div>
                        <input type="text" name="StartTime" class="form-control datetimepicker-input" data-target="#datetimepicker" placeholder="click icon to select time" style="font-size:13px" />
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker').datetimepicker({
                        format: 'LT'
                    });
                });
            </script>

            <div class="form-group row">
                @Html.LabelFor(model => model.CloseTime, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <div class="input-group-prepend" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                        </div>
                        <input type="text" name="CloseTime" class="form-control datetimepicker-input" data-target="#datetimepicker1" placeholder="click icon to select time" style="font-size:13px" />
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.CloseTime, "", new { @class = "text-danger" })
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        format: 'LT'
                    });
                });
            </script>

            <div class="form-group row">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-user"></span></span>
                        </div>
                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", placeHolder = "Paste String", @style = "font-size:13px" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input style="float:right" type="submit" value="Create" class="btn btn-dark" />
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Cancel", "Index", "Home", new { area = "" }, new { @class = "btn btn-dark" })
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>
<img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:7px; height:7px; position:relative; bottom:10px; left:90%; opacity:0.7">
<img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:10px; height:10px; position:relative; bottom:50px; left:91%; opacity:0.8">
<img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:20px; height:20px; position:relative; bottom:80px; left:92.5%; opacity:0.9">
<img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:30px; height:30px; position:relative; bottom:120px; left:95%">

</div><!-- /.container -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $(".daySelect").select2({
            allowClear: true,
            theme: "classic"
        });

        $(".timeSelect").select2();

    });

</script>

<script src="~/Scripts/select2.min.js"></script>


@{
    /*          @model FeastFreedom.Models.Kitchen

@{
    ViewBag.Title = "Create";
}

<title>@ViewBag.Title</title>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="~/Scripts/tpicker.js"></script>
<link href="~/Content/tpicker.css" rel="stylesheet" />

<div class="container" style="font-size:13px">

    <form class="form-horizontal" action=" " method="post" style="padding-left:100px; margin-top:6%">
        @Html.AntiForgeryToken()
        <fieldset>

            <!-- Form Name -->
            <center><h2 style="padding-top: 25px">Register Kitchen</h2></center><br>

            <!-- Text input-->

            <div class="form-group row">
                @Html.LabelFor(model => model.KitchenName, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-users"></span></span>
                        </div>
                        @Html.EditorFor(model => model.KitchenName, new { htmlAttributes = new { @class = "form-control", placeHolder = "Kitchen Name", @style = "font-size:13px" } })
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.KitchenName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.WorkingDays, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-list"></span></span>
                        </div>
                        <div style="width:86.5%">
                        <select id="selectedDays" name="selectedDays" class="daySelect form-control" multiple style="font-size:13px">
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                            <option>Sunday</option>
                        </select>
                        </div>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.selectedDays, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-clock-o"></span></span>
                        </div>
                        <input id="timepkr" name="StartTime" style="width:100px;float:left;" class="form-control" placeholder="HH:MM" onclick="showpickers('timepkr',12)" />
                    </div>
                    @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="timepicker" style="position:absolute; z-index:20"></div>

            <div class="form-group row">
                @Html.LabelFor(model => model.CloseTime, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-clock-o"></span></span>
                        </div>
                        <input id="timepkr1" name="CloseTime" style="width:100px;float:left;" class="form-control" placeholder="HH:MM" onclick="showpickers('timepkr1',12)" />
                    </div>
                    @Html.ValidationMessageFor(model => model.CloseTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="timepicker" style="position:absolute; z-index:20"></div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-user"></span></span>
                        </div>
                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", placeHolder = "Paste String", @style = "font-size:13px" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input style="float:right" type="submit" value="Create" class="btn btn-dark" />
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Cancel", "Index", "Home", new { area = "" }, new { @class = "btn btn-dark" })
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:7px; height:7px; position:relative; bottom:10px; left:90%; opacity:0.7">
    <img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:10px; height:10px; position:relative; bottom:50px; left:91%; opacity:0.8">
    <img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:20px; height:20px; position:relative; bottom:80px; left:92.5%; opacity:0.9">
    <img src="~/Images/pizzah.jpg" alt="Avatar" style="border-radius: 52%; width:30px; height:30px; position:relative; bottom:120px; left:95%">
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $(".daySelect").select2({
            allowClear: true,
            theme: "classic"
        });

        $(".timeSelect").select2();

    });

</script>

<script src="~/Scripts/select2.min.js"></script>



@{
/*            <div class="form-group">
            @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

 <div class="form-group row">
            @Html.LabelFor(model => model.CloseTime, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span class="fa fa-clock-o"></span></span>
                    </div>
                    <select id="timeClose" name="timeClose" class="form-control dropdown" style="font-size:13px">
                        @for (int i = 0; i < length; i++)
                        {
                            <option>@time[i]</option>
                        }
                    </select>
                </div>
                @Html.ValidationMessageFor(model => model.CloseTime, "", new { @class = "text-danger" })
            </div>
        </div>

     <div class="form-group row">
                @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold", @style = "text-align:right" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-clock-o"></span></span>
                        </div>
                        <select id="timeStart" name="timeStart" class="form-control dropdown" style="font-size:13px">
                            @for (int i = 0; i < length; i++)
                            {
                                <option>@time[i]</option>
                            }
                        </select>
                    </div>
                    @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                </div>
            </div>

*/
}




    */
}

