@model IEnumerable<FeastFreedom.Models.Kitchen>

@{
    ViewBag.Title = "Kitchens";
}

<h2>Kitchens</h2>


<table id="Tile" class="table">
    
    @foreach (var item in Model)
    {
        <div class="col-xs-4">
            <a href="@Url.Action("Details", "Kitchens", new { id = item.KitchenId })" class="thumbnail">
                <img src="@item.Image" alt="@item.KitchenName" />
                @Html.DisplayFor(modelItem => item.KitchenName)
                @Html.DisplayFor(modelItem => item.WorkingDays)
                @{
                    <p>@item.StartTime.Value.Hour  am</p>
                    <p>@item.CloseTime.Value.Hour pm</p>
                }
            </a>
        </div>
    }

</table>
<style>
    #Tile {
        display: grid;
        grid-template-columns: 200px 2fr;
        grid-template-rows: 100px repeat(2, 1fr);
        grid-gap: 5%;
        grid-auto-rows: minmax(auto, 300px);
    }
</style>